<div class="recent-jobs-section">
    <div class="container">
      <h2>Recent Jobs</h2>
      <ul>
        <li><a href="/jobs/1">
            <h3>Software Engineer</h3>
            <p>Google - New York, NY</p>
            <span>Full-Time</span>
          </a>
        </li>
        <li>
          <a href="/jobs/2">
            <h3>Frontend Developer</h3>
            <p>Facebook - Los Angeles, CA</p>
            <span>Full-Time</span>
          </a>
        </li>
        <li>
          <a href="/jobs/3">
            <h3>Backend Developer</h3>
            <p>Amazon - San Francisco, CA</p>
            <span>Full-Time</span>
          </a>
        </li>
        <li>
          <a href="/jobs/4">
            <h3>Software Development Engineer</h3>
            <p>Microsoft - Redmond, WA</p>
            <span>Full-Time</span>
          </a>
        </li>
        <li>
          <a href="/jobs/5">
            <h3>iOS Developer</h3>
            <p>Apple - Cupertino, CA</p>
            <span>Full-Time</span>
          </a>
        </li>
      </ul>
    </div>
  </div>