<div class="top-companies-section">
    <div class="container">
      <h2>Top Companies</h2>
      <ul>
        <li><a href="/companies/google">Google</a></li>
        <li><a href="/companies/facebook">Facebook</a></li>
        <li><a href="/companies/amazon">Amazon</a></li>
        <li><a href="/companies/microsoft">Microsoft</a></li>
        <li><a href="/companies/apple">Apple</a></li>
        <li><a href="/companies/tesla">Tesla</a></li>
        <li><a href="/companies/netflix">Netflix</a></li>
        <li><a href="/companies/airbnb">Airbnb</a></li>
        <li><a href="/companies/twitter">Twitter</a></li>
        <li><a href="/companies/linkedin">LinkedIn</a></li>
      </ul>
    </div>
  </div>